body {
	padding-top: 20px;
	padding-left: 100px;
	background-color: #1c1c1c
	
}

html, body {
	max-width: 100%;
	overflow-x:hidden 
}


.topHead {
	
	font-family: Arial;
	
}



#Title {
	
	font-size: 90px;
	color: #ebc42a;
}


#SubTitle {
	position: relative;
	font-size: 40px;
	color: #f1f1f1;
	top: -60px;
}

#para1 {
	font-size: 30px;
	padding-top: 0px;
	margin-top: -60px;
	font-family: Arial;
	color: #c51f5d;
	padding-right: 820px;
	
}

.buttons {
	
	font-size: 40px;
	
	color: #ebc42a;
	font-family: Arial;
	top: 0px;
	padding-top: 60px;
	
}

h2{
    display: inline;
	font-size: 40px;
	padding-right: 70px;
	
	
}
